/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

.header-cell {
  background-image: $top-bg-image-url;
  width: $width;
  height: $top-section-height;
}

.bottom-cell {
  background-image: $bottom-bg-image-url;
  width: $width;
  height: $bottom-section-height;
}
