---
layout: vuze_def.hbs
subject: Vuze Newsletter September 2017
---
<table class="main top_page_bg">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h1 class="align-center">Simple responsive HTML email template</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 class="align-center">Simple responsive HTML email template</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 class="align-center">Simple responsive HTML email template</h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
