---
layout: vuze_def.hbs
subject: Vuze Newsletter September 2017
---

<table class="main">
    <tr>
        <td class="header-cell">

        </td>
    </tr>
    <tr>
        <td>
            <div>Some text in between</div>
        </td>
    </tr>
    <tr>
        <td class="bottom-cell">

        </td>
    </tr>
</table>

